@use '@angular/material' as mat;
@import 'src/assets/theme';
$primary: map-get($dark-theme, primary);
$accent: map-get($dark-theme, accent);

#dwv {
  height: 70%;
  }

a {
  color: mat.get-color-from-palette($accent);
}
a:hover {
  color: mat.get-color-from-palette($primary);
}

.button-row {
  text-align: center;
  padding: 5px;
}
#dwv .mat-button-toggle-group {
  align-items: center;
  margin: 0.2em;
}
#dwv .mat-button-toggle-checked {
  color: mat.get-color-from-palette($primary);
}

.mat-select {
  color: mat.get-color-from-palette($primary);
}

/* Chrome */
// input[type='range']::-webkit-slider-runnable-track {
//   background: #4CAF50;
//   /* Change to the color you prefer for the track */
// }

// input[type='range']::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   background: #4CAF50;
//   /* Change to the color you prefer for the thumb */
//   border-radius: 50%;
//   height: 16px;
//   width: 16px;
//   cursor: pointer;
// }

// /* Firefox */
// input[type='range']::-moz-range-track {
//   background: #4CAF50;
//   /* Change to the color you prefer for the track */
// }

// input[type='range']::-moz-range-thumb {
//   background: #4CAF50;
//   /* Change to the color you prefer for the thumb */
//   border-radius: 50%;
//   height: 16px;
//   width: 16px;
//   cursor: pointer;
// }

// /* Edge */
// input[type='range']::-ms-track {
//   background: #4CAF50;
//   /* Change to the color you prefer for the track */
// }

// input[type='range']::-ms-thumb {
//   background: #4CAF50;
//   /* Change to the color you prefer for the thumb */
//   border-radius: 50%;
//   height: 16px;
//   width: 16px;
//   cursor: pointer;
// }

.tool-info-controls {
  margin-top: 1em;
}

.raised-button {
  margin: 0.2em;
}
.legend {
  text-align: center;
  font-size: 8pt;
  margin: 1em;
}

/* Layers */
.layerGroup {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 90%;
}
.layer {
  position: absolute;
  pointer-events: none;
}

/* drag&drop */
.dropBox {
  margin: auto;
  text-align: center; vertical-align: middle;
  width: 50%; height: 75%; }
.dropBoxBorder {
  border: 5px dashed mat.get-color-from-palette($primary, lighter); }
.dropBoxBorder.hover {
  border: 5px dashed mat.get-color-from-palette($primary); }
